<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{currentProduct?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <p>Price: <strong>${{currentProduct?.price}}</strong></p>
      <p>Description: <strong>{{currentProduct?.description}}</strong></p>

      <ion-button (click)="takePicture()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      (You can take more than one picture)

      <ion-list>
        <ion-item *ngFor='let pic of pictures'>
          <ion-img
            [src]='pic.url'
          ></ion-img>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
