<ion-header>
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>

    <ion-buttons slot="end">
      <ion-button href="/login">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>

      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2>This is home page of Products.</h2>

    <h4>Here you can do the following:</h4>
    <ion-list>
      <ion-item>
        <ion-button href="/signup">Register</ion-button>
      </ion-item>

      <ion-item>
        <ion-button href="/login">Login</ion-button>
      </ion-item>

      <ion-item>
        <a routerLink="/product-list">See the products list</a>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
