<ion-header>
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-button expand="block" color="primary" routerLink="/product-create">
      Create a new Product
    </ion-button>
    <ion-button expand="block" color="primary" routerLink="/product-list">
      See All products
    </ion-button>
    <ion-button expand="block" color="primary" routerLink="/product-list/{{userID}}">
      See my products only
    </ion-button>

    <ion-button expand="block" color="primary" routerLink="/vegetables">
      See data from a separate table (last task)
    </ion-button>
  </div>
</ion-content>
